{{>navbar}}
<div class="container">
    {{>searchbar}}
    <table class="table">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Rating</th>
      <th scope="col">Year</th>
      <th scope="col">User Score</th>
    </tr>
    {{#each results}}
    <tr>
      <td>{{this.title}}</td>
      <td>{{this.rating}}</td>
      <td>{{this.release_year}}</td>
      {{#if this.user_rating_score}}
      <td>{{this.user_rating_score}}</td>
      {{else}}
      <td>N/A</td>
      {{/if}}
    </tr>
    {{/each}}
    </table>
</div>